.App {
  text-align: center;
}

body {
  background-color: #DFFFFF;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1.2rem;
  color: #666;
}

button {
  margin-top: 1rem;
}



/* Header */
.nav-button {
  margin: 0 10px;
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border-radius: 12px;
  text-decoration: none;
  transition: background-color 0.3s;
}



/* Homepage */
.card-title {
  font-size: 1.5rem;
  font-weight: bold;
}



/* Expense Tracker */
.budgeting-container {
  padding: 2rem;
}

.budgeting-container h1 {
  margin-bottom: 1.5rem;
}

.budgeting-container .card {
  text-align: center;
}

.budgeting-container h3 {
  margin-bottom: 2rem;
}

.budgeting-container .btn-danger {
  margin-top: 1rem;
}



/* Taxes */
.tax-container {
  padding: 2rem;
}

.tax-container h1 {
  margin-bottom: 2rem;
  text-align: center;
}

.tax-calculators {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.tax-card {
  flex: 1 1 300px;
  max-width: 400px;
}

.tax-card .card-body {
  padding: 1.5rem;
}

.tax-card h4 {
  margin-top: 1rem;
}

.tax-card .btn-primary {
  margin-top: 1rem;
}



/* Goals */
.goals-container {
  padding: 2rem;
}

.goals-container h1 {
  margin-bottom: 2rem;
}

.goals-container .form-control {
  margin-bottom: 1rem;
}

.goals-container .btn-primary {
  margin-top: 1rem;
}

.goals-container .alert {
  margin-bottom: 1rem;
}

.goals-container .form-label {
  color: green;
}
